.post-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  padding: 12px;
  cursor: pointer;
  border-bottom: 2px solid var(--tag-color);
  &:hover {
    box-shadow: -1px 4px 10px 2px var(--shadow-color);
    transition: box-shadow 0.3s;
    .post-card__title {
      background: linear-gradient(45deg, #a200ff, #0270ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__title {
    font-size: 1.2rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }

  &__tag {
    font-weight: 400;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: var(--tag-color);
    color: var(--tag-text-color);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-text-color);

  }
  &__more {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    &:hover {
      color: #a200ff;
    }
  }
  &__time {
    font-size: 0.8rem;
    color: #666;
  }
}
